/*INDEX*/

* {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(39, 39, 39);
    height: 60px;
    z-index: 1;
}

#Parador5 {
    text-align: center;
    position: relative;
    padding: 8px;
    color: wheat;
    font-style: italic;
}

#inscripcion {
    height: 27px;
    width: 27px;
    position: absolute;
    top: 15px;
    right: 80px;

}

#home { 
    height: 30px;
    position: absolute;
    top: 12px;
    right: 22px;

}


/* ---------------------------------------ACA TERMINA EL NAV--------------------------------------------------------------------------------*/
#body {
    height: 1000px;
    background-color: wheat;
    color: rgb(39, 39, 39);
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    
}

/*------------------------------------------HASTA ACA PARA TODOS IGUAL-----------------------------------------------------------------------*/
/* ---------------------------------------ACA COMIENZA LOS TITULOS--------------------------------------------------------------------------------*/

#inscribite.titulos {
    position: relative;
    top: 70px;
    text-align: center;
    font-size: 200%;
}

#informacion.titulos {
    position: relative;
    text-align: center;
    margin: 40px;
    font-size: 200%;
}

/* ---------------------------------------ACA COMIENZA LOS BOTONES--------------------------------------------------------------------------------*/

#boton_inscrip.Botones {
    position: absolute;
    left: 50%;  
    transform: translate(-50%);
    top: 275px;
}

#boton_infor.Botones {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 700px;
}

/* ---------------------------------------ACA COMIENZA EL FOOTER--------------------------------------------------------------------------------*/

#footer {
    background-color: black;
    height: 300px;
    color: white;   
    padding: 10px;
}

.redes {
    max-width: 20px;
    max-height: 15px; 
}

#saul {
    max-width: 40px;
    max-height: 40px;
}

