* {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(39, 39, 39);
    height: 60px;
    z-index: 1;
}

h1 {
    text-align: center;
    position: relative;
    padding: 8px;
    color: wheat;
    font-style: italic;
}

#undernav {
    height: 450px;
    background-color: rgb(39, 39, 39);
}

#f5 {
    height: 400px;
    position: absolute;
    left: 70px;
    z-index: 0;
}

#body {
    height: 800px;
    background-color: wheat;
    color: rgb(39, 39, 39);
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    
}

h2 { 
    padding: 10px;
}

p {
    padding: 10px;
    font-style: italic;
}

#inscripcion {
    height: 27px;
    position: absolute;
    top: 15px;
    right: 80px;

}


#home {
    height: 30px;
    position: absolute;
    top: 12px;
    right: 22px;

}

#footer1 {
    padding: 10px;
    color: white;
    background-color: midnightblue;
    height: 250px;
}

.redes {
       font-size: 20px;
}

input {
    border: 0ch;
    margin-left: 10px;
}

span {
    margin-left: 10px;
}

#crear_equipo {
    position: absolute;
    left: 80px;
    top: 800px;
    border-radius: 40px; 
    height: 40px;
    width: 120px;
}

iframe {
    height: 400px;
    width: 520px;
    position: absolute;
    right: 70px;
}

/*****************************************************************/

#titulo {
    color: wheat;
    text-align: center;
    font-style: oblique;
    background-color: black;
}

#fondo {
    background-color: white;
}

#subtitulo {
    padding: 10px;
}

#footer2 {
    background-color: black;
    height: 300px;
    color: white;   
    padding: 10px;
}

.redes2 {
    max-width: 20px;
    max-height: 15px; 
}

#saul {
    max-width: 40px;
    max-height: 40px;
}

#porcentaje {
    padding: 10px;
}

#cuadro {
    position: relative;
    top: 10px;
}

#pantalla {
    background-color: lightgreen;
}

.directorio {
   margin: 5px;
   float: right;
   width: 250px;
   max-width: 30px;
}